[Unit]
Description=Fulcon/Slot-OS Platform
After=network.target NetworkManager.service docker.service openvswitch-switch.service openvswitch-nonetwork.service 

[Service]
ExecStart=/usr/lib/fulcon/sbin/fulcond
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
